<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Failure</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        h1 {
          background-color: rgb(18, 97, 117);
          color: white
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login failed</h1>
            We couldn't successfully log you on to Jira. You can try and go back to the <a href="/">homepage</a>.
        </div>
    </div>
</div>
</body>
</html>
